In [1]:
import os
from os import walk
from bs4 import BeautifulSoup
import re
import pandas as pd

In [175]:
dir_path = os.path.join('.','AWR')
awr_paths = []
for (dir_path, dir_names, file_names) in walk(dir_path):
    file_paths = [os.path.join(dir_path, file_name) for file_name in file_names]
    awr_paths.extend(file_paths)

In [291]:
output = []
for awr_path in awr_paths:
    print(awr_path)
    with open(awr_path) as f:
        soup = BeautifulSoup(f)

    row = {}
    row['AWR file'] = awr_path

    table = soup.find(string=re.compile('DB Name')).findParent('table')
    df = pd.read_html(str(table))[0]
    row['DB Name'] = str(df['DB Name'][0])

    table = soup.find(string=re.compile('Instance')).findParent('table')
    df = pd.read_html(str(table))[0]
    row['Instance Name'] = str(df['Instance'][0])
    
 
    table = soup.find(string=re.compile('Host')).findParent('table')
    df = pd.read_html(str(table))[0]
    try:
        row['Host Name'] = str(df['Host Name'][0])
    except:
        row['Host Name'] = str(df['Host'][0])

    table = soup.find(string=re.compile('Elapsed:')).findParent('table')
    df = pd.read_html(str(table))[0]
    string = str(df[df.iloc[:,0] == 'Elapsed:']['Snap Time'])
    string = re.compile('\d*,?\d*\.\d*').search(string).group(0)
    string = string.replace(',','')
    row['Elapsed Time (mins)'] = float(string)

    string = str(df[df.iloc[:,0] == 'DB Time:']['Snap Time'])
    string = re.compile('\d*,?\d*\.\d*').search(string).group(0)
    string = string.replace(',','')
    row['DB Time (mins)'] = float(string)


    try:
        table = soup.find(string=re.compile('Wait Classes by Total Wait Time')).find_next('table')
        df = pd.read_html(str(table))[0]
        element = df[df.iloc[:,0] == 'DB CPU']['Total Wait Time (sec)']
        element = element.replace({"K":"*1e3", "M":"*1e6", "G":"*1e9", ",":""}, regex=True).map(pd.eval).astype(float)
        row['DB CPU (s)'] = float(element)
    except:
        pass
    
    table = soup.find(string=re.compile('NUM_CPUS')).findParent('table')
    df = pd.read_html(str(table))[0]
    string = str(df[df.iloc[:,0] == 'NUM_CPUS'].iloc[0,1])
    string = string.replace(',','')
    row['CPUs'] = float(string)
    
    string = str(df[df.iloc[:,0] == 'NUM_CPU_CORES'].iloc[0,1])
    string = string.replace(',','')
    row['Cores'] = float(string)
    
    string = str(df[df.iloc[:,0] == 'PHYSICAL_MEMORY_BYTES'].iloc[0,1])
    string = string.replace(',','')
    row['Memory (GB)'] = float(string)/(1024**3)


    try:
        table = soup.find(string=re.compile('Instance CPU')).find_next('table')
        df = pd.read_html(str(table))[0]
        row['%Busy CPU'] = float(df['%Busy CPU'])
    except:
        pass

    try:
        table = soup.find(string=re.compile('Memory Statistics')).find_next('table')
        df = pd.read_html(str(table))[0]
        row['SGA use (MB)'] = float(df[df.iloc[:,0] == 'SGA use (MB):']['End'])

        row['PGA use (MB)'] = float(df[df.iloc[:,0] == 'PGA use (MB):']['Begin'])
    except:
        pass

    try:     
        table = soup.find(re.compile("h\d+|p"), string=re.compile('IOStat by Filetype summary')).find_next('table')
        df = pd.read_html(str(table))[0]
        element = df[df.iloc[:,0] == 'TOTAL:']['Data per sec']
        element = element.replace({"K":"*1e3", "M":"*1e6", "G":"*1e9", ",":""}, regex=True).map(pd.eval).astype(float)
        row['Read Throughput (MB/s)'] = float(element)/1000/1000
    except:
        pass
    
    try:
        element = df[df.iloc[:,0] == 'TOTAL:']['Data per sec.1']
        element = element.replace({"K":"*1e3", "M":"*1e6", "G":"*1e9", ",":""}, regex=True).map(pd.eval).astype(float)
        row['Write Throughput (MB/s)'] = float(element)/1000/1000
    except:
        pass

    try:
        element = df[df.iloc[:,0] == 'TOTAL:']['Reqs per sec']
        element = element.replace({"K":"*1e3", "M":"*1e6", "G":"*1e9", ",":""}, regex=True).map(pd.eval).astype(float)
        row['Read IOPS'] = float(element)
    except:
        pass

    try:
        element = df[df.iloc[:,0] == 'TOTAL:']['Reqs per sec.1']
        element = element.replace({"K":"*1e3", "M":"*1e6", "G":"*1e9", ",":""}, regex=True).map(pd.eval).astype(float)
        row['Write IOPS'] = float(element)
    except:
        pass

    output.append(row)

    #break

output = pd.DataFrame(output)
output['xxx'] = output['xxx'] + output['xxx']
output['xxx'] = output['xxx'] + output['xxx']
output['%DB Time of Elapsed Time'] = output['DB Time (mins)'] / output['Elapsed Time (mins)']
output['CPU total capacity (s)'] = output['Elapsed Time (mins)'] * 60 * output['CPUs']
output['%DB CPU of server capacity'] = output['DB CPU (s)']/output['CPU total capacity (s)']
output['ORA use (GB)'] = (output['SGA use (MB)'] + output['PGA use (MB)'])/1024
output['source CPU HT factor'] = output['CPUs'] / output['Cores']
output
#output.to_excel(os.path.join('.', 'output', 'awr_data.xlsx'))

.\AWR\awr_report_ADTGT_10-11.html
.\AWR\awr_report_ADTGT_22-23.html
.\AWR\awr_report_CSDG4_10-11.html
.\AWR\awr_report_CSDG4_22-23.html
.\AWR\awr_report_CSIPG102_10-11.html
.\AWR\awr_report_CSIPG102_22-23.html
.\AWR\awr_report_CWSDG402_10-11.html
.\AWR\awr_report_CWSDG402_22-23.html
.\AWR\awr_report_PGOL_10-11.html
.\AWR\awr_report_PGOL_22-23.html
.\AWR\awr_report_SSCG1_10-11.html
.\AWR\awr_report_SSCG1_22-23.html

,AWR file,DB Name,Instance Name,Host Name,Elapsed Time (mins),DB Time (mins),DB CPU (s),CPUs,Cores,Memory (GB),...,PGA use (MB),Read Throughput (MB/s),Write Throughput (MB/s),Read IOPS,Write IOPS,%DB Time of Elapsed Time,CPU total capacity (s),%DB CPU of server capacity,ORA use (GB),source CPU HT factor
0,.\AWR\awr_report_ADTGT_10-11.html,CADTGT01,CADTGT011,agtifl80dbp001,120.16,113.75,1343.0,176.0,22.0,222.000000,...,7075.2,41.891000,5.238000,113.27,124.43,0.946654,1268889.6,0.001058,24.909375,8.0
1,.\AWR\awr_report_ADTGT_22-23.html,CADTGT01,CADTGT011,agtifl80dbp001,120.17,43.68,676.0,176.0,22.0,222.000000,...,7318.0,2.523000,0.718000,43.65,44.09,0.363485,1268995.2,0.000533,25.146484,8.0
2,.\AWR\awr_report_CSDG4_10-11.html,CCSDG402,CCSDG4021,emlifl81dbp01,59.89,1330.40,70809.0,128.0,64.0,2015.074188,...,43552.4,1600.000000,216.384000,14451.78,2621.84,22.214059,459955.2,0.153948,202.531641,2.0
3,.\AWR\awr_report_CSDG4_22-23.html,CCSDG402,CCSDG4021,emlifl81dbp01,60.13,133.27,7330.0,128.0,64.0,2015.074188,...,34170.9,295.661000,13.513000,1304.90,549.33,2.216365,461798.4,0.015873,193.370020,2.0
4,.\AWR\awr_report_CSIPG102_10-11.html,CSIPG101,CSIPG1021,emlifl81dbp01,60.49,442.40,16608.0,128.0,64.0,2015.074188,...,6655.2,2600.000000,17.306000,21927.89,607.69,7.313606,464563.2,0.035750,22.499219,2.0
5,.\AWR\awr_report_CSIPG102_22-23.html,CSIPG101,CSIPG1021,emlifl81dbp01,60.00,89.88,2904.0,128.0,64.0,2015.074188,...,5883.3,674.793000,2.187000,1457.91,84.28,1.498000,460800.0,0.006302,21.745410,2.0
6,.\AWR\awr_report_CWSDG402_10-11.html,CWSDG401,CWSDG4021,emlifl81dbp01,60.27,15.17,813.0,128.0,64.0,2015.074188,...,9536.7,7.443000,1.022000,35.42,165.61,0.251701,462873.6,0.001756,25.313184,2.0
7,.\AWR\awr_report_CWSDG402_22-23.html,CWSDG401,CWSDG4021,emlifl81dbp01,60.20,16.71,734.0,128.0,64.0,2015.074188,...,9460.3,19.798000,1.049000,87.30,116.59,0.277575,462336.0,0.001588,25.238574,2.0
8,.\AWR\awr_report_PGOL_10-11.html,PGOL,PGOL,goldb1ra,60.05,405.83,NaN,96.0,12.0,68.000000,...,4985.6,0.000302,0.000006,2044.70,685.45,6.758201,345888.0,NaN,25.118750,8.0
9,.\AWR\awr_report_PGOL_22-23.html,PGOL,PGOL,goldb1ra,60.06,422.96,NaN,96.0,12.0,68.000000,...,1338.8,0.000249,0.000006,1751.70,471.07,7.042291,345945.6,NaN,21.557422,8.0
10,.\AWR\awr_report_SSCG1_10-11.html,SSCG1,SSCG11,ggldbp01,60.59,900.73,NaN,56.0,28.0,80.000000,...,NaN,NaN,NaN,NaN,NaN,14.865984,203582.4,NaN,NaN,2.0
11,.\AWR\awr_report_SSCG1_22-23.html,SSCG1,SSCG11,ggldbp01,59.42,454.35,NaN,56.0,28.0,80.000000,...,NaN,NaN,NaN,NaN,NaN,7.646415,199651.2,NaN,NaN,2.0

In [261]:
awr_path = awr_paths[0]
with open(awr_path) as f:
    soup = BeautifulSoup(f)

In [278]:
table = soup.find(re.compile("h\d+|p"), string=re.compile('IOStat by Filetype summary')).find_next('table')
df = pd.read_html(str(table))[0]
element = df[df.iloc[:,0] == 'TOTAL:']['Data per sec']
element = element.replace({"K":"*1e3", "M":"*1e6", "G":"*1e9", ",":""}, regex=True).map(pd.eval).astype(float)
element

5    41891000.0
Name: Data per sec, dtype: float64

In [279]:
df

,Filetype Name,Reads: Data,Reqs per sec,Data per sec,Writes: Data,Reqs per sec.1,Data per sec.1,Small Read,Large Read
0,Data File,242.5G,45.36,34.447M,1003M,9.78,.139M,419.79us,4.49ms
1,Temp File,32.3G,42.26,4.594M,32.7G,43.40,4.641M,756.21us,1.18ms
2,Archive Log,14G,4.03,1.988M,1G,0.14,.144M,1.42ms,20.89ms
3,Log File,3.7G,4.92,.531M,1.9G,68.52,.27M,138.82us,10.82ms
4,Control File,2.3G,16.71,.331M,319M,2.59,.044M,107.14us,2.79ms
5,TOTAL:,295G,113.27,41.891M,36.9G,124.43,5.238M,483.06us,5.09ms

In [218]:
df['Data per sec'].replace({"K":"*1e3", "M":"*1e6", "G":"*1e9", ",":""}, regex=True).map(pd.eval).astype(float)
df['Data per sec']

0    37970000.0
1      922000.0
2     2027000.0
3      418000.0
4      378000.0
5       25000.0
6      151000.0
7           0.0
8           0.0
9    41890000.0
Name: Data per sec, dtype: float64

In [196]:

df[df.iloc[:,0] == 'NUM_CPUS'].iloc[0,1]

56

In [239]:
table = soup.find(string=re.compile('Wait Classes by Total Wait Time')).find_next('table')
df = pd.read_html(str(table))[0]
element = df[df.iloc[:,0] == 'DB CPU']['Total Wait Time (sec)']
element = element.replace({"K":"*1e3", "M":"*1e6", "G":"*1e9", ",":""}, regex=True).map(pd.eval).astype(float)
float(element)

1343.0

In [49]:
df = pd.read_html(str(table))[0]
df

,Wait Class,Waits,Total Wait Time (sec),Avg Wait Time,% DB time,Avg Active Sessions
0,Application,8902.0,1440,161.72ms,21.1,0.2
1,DB CPU,NaN,1343,NaN,19.7,0.2
2,System I/O,638477.0,728,1.14ms,10.7,0.1
3,User I/O,368901.0,483,1.31ms,7.1,0.1
4,Other,1678386.0,419,249.71us,6.1,0.1
5,Commit,173034.0,416,2.41ms,6.1,0.1
6,Cluster,239721.0,191,798.80us,2.8,0.0
7,Administrative,114856.0,133,1.16ms,1.9,0.0
8,Network,3828808.0,29,7.70us,0.4,0.0
9,Concurrency,325668.0,26,78.72us,0.4,0.0
10,Configuration,18729.0,2,110.65us,0.0,0.0

In [59]:
float(df[df['Wait Class'] == 'Application']['Waits'] )

8902.0